<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de contacto</title>
</head>

<body>
    <form action="">
        <h2>Registro de Clientes</h2>
        <input type="text" name="nombre" placeholder="Nombres">
        <input type="text" name="apellidos" placeholder="Apellidos">
        <input type="text" name="correo" placeholder="Correo">
        <input type="text" name="dni" placeholder="DNI">
        <input type="password" name="contraseña" placeholder="Contraseña">
        <input type="button" id="boton" value="REGISTRAR" [routerLink]="['/login']">
    </form>
</body>

</html>